In [16]:
print("Hello, World!")

Hello, World!

Some keywords in python include: in, not, or, for, while, and return

Some operators include: + , - , * , / , ** ,%, // , >, < . ==

In [11]:
# Example of a function
def to_celcius(x):
    "Convert Fahrenheit to Celsius"
    return (x-32) * 5/9 

print(to_celcius(85))

29.444444444444443

In [15]:
# Example of a conditional statement:
number = 0
if number > 0: 
    print ("Number is positive.")
elif number ==0:
    print ("Number is zero.")
else:
    print("Number is negative.")

Number is zero.

Naming Conventions:
-

Names cannot contain spaces

Names may be a mxiture of upper and lower case characters

Names can't start with a number but may contain numbers 
after the first character

Variable names and funciton names should be written in snake_case which means that all letters are lowercase and 
words are seperated using an underscore

Descriptive names are better than cryptic observations

Data types:
-

In [20]:
print(type("a"))
print(type(2))
print(type(2.5))
print ("a" + str(1))
# You cannot combine string with int without adding str()

<class 'str'>
<class 'int'>
<class 'float'>
a1