Defining Functions: 
-

In [1]:
# How to define functions in python:
def greeting(name, department):
    print("Welcome, " + name)
    print ("You are part of the " + department)
greeting("Ryan", "Data Analytics Department")

Welcome, Ryan
You are part of the Data Analytics Department

Built-in functions:
-

In [2]:

# print(): outputs a specified object to the screen
month = "December"
print ("Investigate failed login attempts during", month, 
       "if more than", 100)

#type(): the type function returns the data type of its argument

# string data type
print(type("December"))

# integer data type
print(type(7))

#float data type:
print(type(7.5))

#str(): function is used to convert any data type to string
number =12 
string_representation = str(number)
print(string_representation)

#sorted(): this function sorts the components of a list.
time_list = [12,2,32,19,57,22,14]
print(sorted(time_list))
print(time_list)

# max and min, self-explanatory
print(min(time_list))
print(max(time_list))

# Returning values: Return state makes code more reusable

# code for area of a function
def area_triangle(base, height):
    return base*height/2
area_a = area_triangle(5,4)
area_b=area_triangle(7,3)
sum = area_a + area_b
print("The sum of both areas is:" + str(sum))
# code for converting time in seconds to equilvant number of hours, minutes, and seconds
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds -hours * 3600) //60
    remaining_seconds = seconds - hours*3600 - minutes*60
    return hours,minutes,remaining_seconds
seconds_in_quarter = convert_seconds(720)
print("The number of hours and minutes in an NBA quarter is " + str(seconds_in_quarter))

# Two different ways of writing code, 
# Second method shows efficency of using functions.

#Method 1:
name = "Ryan"
number = len(name)*7
print("Hello " + name + ". Your lucky number is " + str(number))
name = "Kaasvi"
number = len(name)*7
print("Hello " + name + ". Your lucky number is " + str(number))

# Method 2:
def lucky_number(name):
        number= len(name)*7
        print("Hello " + name + ". Your lucky number is " + str(number))
lucky_number("Ryan")
lucky_number("Mitul")

Investigate failed login attempts during December if more than 100
<class 'str'>
<class 'int'>
<class 'float'>
12
[2, 12, 14, 19, 22, 32, 57]
[12, 2, 32, 19, 57, 22, 14]
2
57
The sum of both areas is:20.5
The number of hours and minutes in an NBA quarter is (0, 12, 0)
Hello Ryan. Your lucky number is 28
Hello Kaasvi. Your lucky number is 42
Hello Ryan. Your lucky number is 28
Hello Mitul. Your lucky number is 35

In [12]:
# Assignment: find the area of a circle-
def circle_area(radius):
    pi = 3.14
    area = pi * (radius ** 2)
    print(area)
circle_area(5)
circle_area(10)

78.5
314.0

In [14]:
# Assignemnt: find the total number of days given months and years
def find_total_days (years,months,days):
    my_days = (years*365) + (months*30) + days
    return my_days
print(find_total_days(2,5,23))

903

In [16]:
# Assingment: Use a function to convert ounces into mL
def convert_volume(fluid_ounce):
    ml = fluid_ounce* 29.5
    print(ml)
convert_volume(5)

147.5

In [18]:
# Convertign kilometers to meters
def convert_distance(km):
    m= km*1000
    return m
my_trip_kilometers = 55
my_trip_meters = convert_distance(55)

print ("The distance is meters " + str(my_trip_meters))

The distance is meters 55000

In [20]:
# Make a function that has 3 inputs: hours, minutes, and seconds
# such that you print the total number of seconds
def print_seconds (hours,minutes,seconds):
    print(hours*3600 + minutes*60 + seconds)
print_seconds(3,3,3)

10983